<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/css/status/status.css" />
  <link rel="stylesheet" href="/assets/css/status/keys.css" />
  <link rel="stylesheet" href="/assets/css/status/locks.css" />
  <link rel="stylesheet" href="/assets/css/status/wools.css" />
  <link rel="stylesheet" href="/assets/css/status/inventory.css" />
  <script>var exports = {};</script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>


  <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
    integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
    async></script>

  <title>Map</title>
</head>

<body class="pixelated">


  <div class="main">

    <div class="item-info">
      <p>Some Item</p>
    </div>

    <div class="row">
      <div class="col-12 col-lg-6 col-xl-6 p-0 map-col">
        <div class="row g-3 notifications"></div>
        <div class="map">
          <th:block th:each="islandRow : ${locations}">
            <div class="island" th:each="island : ${islandRow}" th:id="${island}">
            </div>
          </th:block>
          <img class="monument-wool BLUE-wool-1">
          <img class="monument-wool BLUE-wool-2">
          <img class="monument-wool BLUE-wool-3">
          <img class="monument-wool RED-wool-1">
          <img class="monument-wool RED-wool-2">
          <img class="monument-wool RED-wool-3">

          <img class="monument-wool dungeon-wool blue-iron">
          <img class="monument-wool dungeon-wool blue-gold">
          <img class="monument-wool dungeon-wool blue-diamond">
          <img class="monument-wool dungeon-wool red-iron">
          <img class="monument-wool dungeon-wool red-gold">
          <img class="monument-wool dungeon-wool red-diamond">


          <!-- KEYS -->
          <div class="key-container dungeon-key blue-iron">
            <div class="key">
              <div class="key-mask iron"></div>
            </div>
          </div>
          <div class="key-container dungeon-key blue-gold">
            <div class="key">
              <div class="key-mask gold"></div>
            </div>
          </div>
          <div class="key-container dungeon-key blue-diamond">
            <div class="key">
              <div class="key-mask diamond"></div>
            </div>
          </div>
          <div class="key-container dungeon-key red-iron">
            <div class="key">
              <div class="key-mask iron"></div>
            </div>
          </div>
          <div class="key-container dungeon-key red-gold">
            <div class="key">
              <div class="key-mask gold"></div>
            </div>
          </div>
          <div class="key-container dungeon-key red-diamond">
            <div class="key">
              <div class="key-mask diamond"></div>
            </div>
          </div>

          <!-- LOCKS -->
          <div class="lock-container dungeon-lock blue-iron">
            <div class="lock">
              <div class="lock-mask iron"></div>
            </div>
          </div>
          <div class="lock-container dungeon-lock blue-gold">
            <div class="lock">
              <div class="lock-mask gold"></div>
            </div>
          </div>
          <div class="lock-container dungeon-lock blue-diamond">
            <div class="lock">
              <div class="lock-mask diamond"></div>
            </div>
          </div>
          <div class="lock-container dungeon-lock red-iron">
            <div class="lock">
              <div class="lock-mask iron"></div>
            </div>
          </div>
          <div class="lock-container dungeon-lock red-gold">
            <div class="lock">
              <div class="lock-mask gold"></div>
            </div>
          </div>
          <div class="lock-container dungeon-lock red-diamond">
            <div class="lock">
              <div class="lock-mask diamond"></div>
            </div>
          </div>
        </div>
      </div>


      <div class="col pt-3">
        <div class="row gy-3 grid">
        </div>
      </div>

    </div>


  </div>



</body>

<script src="/assets/js/status.js"></script>

</html>